SORT BY ATTRIBUTE 1
INTEGER 5
INTEGER 3
INTEGER 0
INTEGER 2
INTEGER 2
INTEGER 30
INTEGER 0
INTEGER 0
INTEGER 0
INTEGER 30
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 2 0
ENUM 8 0
